* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
body {
    max-width: 2000px;
    margin: 0 auto;
}

.common-btn {
    background-color: #1D4ED8;
    padding: 12px 40px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}
/* Navbar */

nav {
    display: flex;
    justify-content: space-between;
    padding: 23px;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 30px;
    align-items: center;
    font-size: 16px;
}

nav ul li a {
    text-decoration: none;
    color: #575757;
    
}

/* Hero section */

.hero {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/banner.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    max-height: 1000px;
}
.hero-content h1 {
    padding-top: 70px;
    font-size: 60px;
}

.hero-content p {
    padding-top: 16px;
    color: #e4e4e4;
    font-size: 27px;
}
.hero-content button {
    margin-top: 520px;
}

/* Speaker section */

.speakers-section {
    margin: 50px ;
}
.speakers-section h1 {
    text-align: center;
    padding-bottom: 50px;
}
.speakers-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;

}
.speakers-box {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
}
.speakers-content {
    margin: 25px;
}
.speakers-content-box-p-1 {
    color: #2563EB;
    font-size: 12px;
    padding-bottom: 10px;
}
.speakers-content-box-p-2 {
    color: #575757;
    font-size: 12px;
    padding-top: 10px;
}

/* Speaker card section */

.parent-container-top {
    text-align: center;
} 
.parent-container-top h1 {
    font-size: 40px;
}
.parent-container-top p {
    color: #575757;
    padding-bottom: 30px;
    padding-top: 1px;
}
.parent-card {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.card-padding {
    padding: 50px;
    border-radius: 8px;
}
.card-top p{
    color: #888888;
    font-size: 13px;
}
.card-top .card-p2 {
    padding-bottom: 20px;
    font-size: 12px;
}
/* Card-1 */
.card-box-1 {
    border: 1px solid #e5e5e5;
    background-color: #FFFFFF;
    padding: 32px;
    width: 350px;
}
.card-box-1 ul {
    padding: 20px;
}
.card-box-1 ul li {
    color: #333333;
    padding: 7px ;
    font-size: 12px;
} 
.card-box-1 ul li::marker {
    color: #60A5FA;
}
.card-box-1 button {
    display: block;
    margin: 20px auto;
    background-color: white;
    padding: 11px 100px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    color: #1D4ED8;
    border: 1px solid #1D4ED8;
    cursor: pointer;
}
/* Card-2 */
.card-top .pro-card-top{
    color: #93C5FD; 
}
.card-box-2 {
    border: 1px solid #0D1B2A;
    padding: 32px;
    background-color: #0D1B2A;
    color: white;
    width: 350px;
}
.card-box-2 ul {
    padding: 20px;
}
.card-box-2 ul li {
    color: #888888;
    padding: 7px ;
    font-size: 12px;
} 
.card-box-2 ul li::marker {
    color: #60A5FA;
}
.card-2-btn {
    display: block;
    margin: 20px auto;
    padding: 11px 126px;   
}
/* Card-3 */
.card-box-3 {
    border: 1px solid #E5E7EB;
    padding: 32px;
    background-color: #F8F9FB;
    width: 350px;
}
.card-box-3 ul {
    padding: 20px;
}
.card-box-3 ul li {
    color: #888888;
    padding: 7px;
    font-size: 12px;
} 
.card-box-3 ul li::marker {
    color: #60A5FA;
}
.card-box-3 button {
    display: block;
    margin: 20px auto;
    background-color: #F8F9FB;
    padding: 11px 106px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    color: #0D1B2A;
    border: 1px solid #0D1B2A;
    cursor: pointer;
}

/* Sponsors Section */

.sponsors{
    padding:70px 20px;
}
.sponsors h2{
    text-align:center;
    font-size:38px;
    color:#0d1b2a;
    margin-bottom:15px;
}

.subtitle{
    text-align:center;
    color:#555;
    margin-bottom:50px;
    font-size:18px;
}

/* Grid */

.sponsor-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

/* Card */

.sponsor-card{
    background:#fff;
    border-radius:12px;
    padding:30px;
    text-align:center;
    border: 1px solid #e5e5e5;
}

/* Logo */

.logo{
    width:90px;
    height:90px;
    background:#0D1B2A;
    color:white;
    margin:0 auto 20px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    font-size:18px;
}

.sponsor-card h3{
    color:#222;
}

/* Foooter */
footer {
    background-color: #0D1B2A;
    margin-top: 20px;
    padding: 30px;
}
.footer-container{
    max-width:1200px;
    margin:auto;
}
.logo-parent {
    display: flex;
    justify-content: space-between;
    margin: 35px 60px;
    text-align: center;
}
.social-links {
    display: flex;
    gap: 20px;
    color: #888888;
    margin-right: 60px;
}
.footer-container-bottom {
    display: flex;
    justify-content: space-between;
    margin: 35px 60px;
    text-align: center;
}
.footer-container-bottom p {
    color: #888888;
    
}
.footer-container-bottom div ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    margin-right: 60px;
}
.footer-container-bottom div ul li {
    padding: 0 12px;
}
.footer-container-bottom div ul li a {
    text-decoration: none;
    color: #888888;
}